@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #2D2C3E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: #EEF1F3;
  border-radius: 16px;
  gap: 8px;
  padding: 8px;
  font-size: clamp(0.8rem, 2vh, 1rem);
  line-height: 1.5;
  font-weight: 500;
  background-color: #2A3236;
  transition: background-color 0.3s;
}

button:hover {
  transition: background-color 0.3s;
  background-color: #5c6265;
}


:root {
  --offset: 187;
  --duration: 1.4s;
}

.spinner {
  animation: rotator var(--duration) linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: var(--offset);
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash var(--duration) ease-in-out infinite, 
    colors calc(var(--duration)*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: var(--offset); }
  50% {
    stroke-dashoffset: calc(var(--offset) / 4);
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: var(--offset);
    transform: rotate(450deg);
  }
}

.likesBox img, .commentsBox img, .starButton img, .shareButton img {
  width: 24px;
}


