@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.contentBox {
    width: 100vw;
    padding: 8px;
    font-family: "IBM Plex Sans", sans-serif;
    height: 100vh;
    gap: 16px;
}

@media (max-width: 720px) {
    .contentBox {
        width: 100vw;
        max-width: 720px;
        font-family: "IBM Plex Sans", sans-serif;
        height: 100vh;
        gap: 16px;
    }
}

@media (max-width: 375px) {
    .contentBox {
        width: 100vw;
        max-width: 375px;
        font-family: "IBM Plex Sans", sans-serif;
        height: 100vh;
        gap: 16px;
    }
}

.navBox {
    width: 100%;
    padding: 8px;
}

.mainLogo {
    font-weight: 900;
    color: #F46262;
    font-size: clamp(1.5rem, 2vh, 2rem);
    line-height: 1.2;
    gap: 8px;
}

.searchBox {
    background-color: #252433;
    color: #818181;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 4px 16px;
    width: 320px;
    border-radius: 16px;
}

.searchBox input{
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px;
  font-size: clamp(1rem, 2vh, 1.5rem);
  line-height: 1.2;
  color: #EEF1F3;
  outline: none;
  border-radius: 16px;
}

.buttonBox {
    gap: 8px;
}

.buttonBox img {
    width: 24px;
}

.signInlink {
    color: #F46262;
    background-color: transparent;
    border: 1px #F46262 solid;
    text-transform: uppercase;
    border-radius: 16px;
    font-size: clamp(0.8rem, 2vh, 1rem);
    padding: 8px 32px;
    line-height: 1.5;
    font-weight: 500;
    transition: background-color 0.3s, color 0.1s;
}

.signInlink:hover {
    background-color: #F46262;
    color: #fff;
    transition: background-color 0.3s, color 0.1s;
}

.mainContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    overflow: hidden;
}

.profileLink {
    background-color: transparent;
    border: 1px #F46262 solid;
    padding: 8px;
    border-radius: 16px;
    transition: background-color 0.3s, border 0.1s;
}

.profileLink:hover {
    background-color: #bd7070;
    border: 1px #bd7070 solid;
    transition: background-color 0.3s, border 0.1s;
}

.qrOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5); /* затемнение */
  backdrop-filter: blur(6px);     /* размытие заднего фона */
  z-index: 9999;
}

.qrCodeWrapper {
  background: white;     /* фон под QR-код (чтоб выделялся) */
  padding: 16px;
  border-radius: 12px;
}

.qrCodeWrapper img {
    width: 512px;
}
