.createPostPage {
    width: 375px;
    border-radius: 32px;
    padding: 16px;
    background-color: #181C1F;
    gap: 24px;
}

.createPostPage p {
    color: #EEF1F3;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
}

.createPostPage form {
    gap: 16px;
}