.homePage {
    width: 100%;
    height: 100%;
    gap: 24px;
}

.infoBox {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.postsList {
    width: 1064px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    padding: 16px;
}

.postsList::-webkit-scrollbar {
  width: 4px;               /* ширина scrollbar */
}

.postsList::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}

.postsList::-webkit-scrollbar-thumb {
  background-color: #F46262;    /* цвет плашки */
  border-radius: 20px;
}

.postCard {
    width: 100%;
    padding: 16px;
    background-color: transparent;
    border-radius: 32px;
    gap: 16px;
    transition: backround-color 0.3s;
}

.postCard span {
    width: 100%;
    height: 1px;
    background-color: #8BA2AD;
}

.postCard:hover {
    background-color: #393849;
    transition: backround-color 0.3s;
}

.postCard .postHeadingInfo {
    width: 100%;
    align-items: center;
}

.postCard .postHeadingInfo .userInfo {
    color: #818181;
    gap: 8px;
}

.postCard .postHeadingInfo .userInfo .userAvatar {
    width: 24px;
    height: 24px;
    background-color: #EEF1F3;
    border-radius: 100%;
}

.postCard .postHeadingInfo .userInfo .userName {
    font-size: clamp(0.8rem, 2vh, 1rem);
    font-weight: 500;
    line-height: 1.5;
}

.postCard .postHeadingInfo .userInfo .circle {
    background-color: #818181;
    width: 4px;
    height: 4px;
    border-radius: 100%;
}

.buttonsBox {
    gap: 8px;
}

.postCard .postHeadingInfo .goToPostButton {
    background-color: #F46262;
    transition: background-color 0.3s;
}

.postCard .postHeadingInfo .goToPostButton:hover {
    background-color: #bd7070;
    transition: background-color 0.3s;
}

.buttonsBox .moreInfoButton {
    background-color: transparent;
}


.postHeadingText {
    display: -webkit-box;        /* создаём блочный контейнер */
    -webkit-box-orient: vertical;/* направление оси */
    -webkit-line-clamp: 2;       /* ограничиваем до 2 строк */
    overflow: hidden;            /* скрываем лишнее */
    text-overflow: ellipsis;  
    font-size: clamp(1.5rem, 2vh, 2rem);
    color: #EEF1F3;
    font-weight: 500;
    line-height: 1.3;
}

.postInfo {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.likesBox, .commentsBox, .shareButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 8px;
    gap: 8px;
    background-color: #252433;
    color: #8BA2AD ;
    font-size: clamp(0.65rem, 2vh, 0.75rem);
    line-height: 1.5;
    font-weight: 400;
    transition: background-color 0.3s;
}

.likesBox:hover, .commentsBox:hover, .shareButton:hover {
    background-color: #2D2C3E;
    transition: background-color 0.3s;
}

.usersBox, .favoriteUsersBox, .historyBox {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 16px;
    gap: 16px;
    width: 340px;
    background-color: #393849;
    border-radius: 16px;
    white-space: nowrap;
}

.usersBox .boxTitle, .favoriteUsersBox .boxTitle, .historyBox .boxTitle {
    text-transform: uppercase;
    padding: 8px;
    width: 100%;
    color: #EEF1F3;
    font-size: clamp(0.6rem, 2vh, 0.875rem);
    line-height: 1.5;
    font-weight: 500;
}

.favoriteUsersBox {
    margin-top: 16px;
}

.historyBox .boxTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.historyBox .boxTitle button {
    background-color: transparent;
    color: #F46262;
    font-size: clamp(0.6rem, 2vh, 0.875rem);
    font-weight: 400;
}

.historyBox .historyList {
    width: 100%;
    gap: 8px;
}

.historyBox .historyList .historyPostCard {
    background-color: transparent;
    padding: 8px;
    width: 100%;
    gap: 16px;
    border-radius: 16px;
    transition: background-color 0.3s;
}

.historyBox .historyList .historyPostCard:hover {
    background-color: #5c5b69;
    transition: background-color 0.3s;
}

.historyBox .historyList .historyPostCard  .infoPostBox {
    width: 100%;
    gap: 8px;
}

.historyBox .historyList .historyPostCard  .infoPostBox .userInfoBox {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.historyBox .historyList .historyPostCard  .infoPostBox .userInfoBox .userAvatar {
    width: 24px;
    height: 24px;
}

.historyBox .historyList .historyPostCard  .infoPostBox .userInfoBox .circle,
.historyBox .historyList .historyPostCard  .infoPostBox .statsInfoBox .circle {
    width: 4px;
    height: 4px;
    background-color: #8BA2AD;
    border-radius: 100%;
}

.historyBox .historyList .historyPostCard  .infoPostBox .statsInfoBox {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
} 

.historyBox .historyList .historyPostCard  .infoPostBox .statsInfoBox .postLikes,
.historyBox .historyList .historyPostCard  .infoPostBox .statsInfoBox .postComments {
    border: none;
    margin: 0;
    padding: 0;
    color: #8BA2AD;
}

@media (min-width: 721px) {
    .usersBox {
        display: flex;
        white-space: normal; /* корректное значение */
    }
}

@media (max-width: 375px) {
    .usersBox {
        display: none; /* теперь точно скроется */
    }

    .postInfo {
        gap: 4px;
    }
}

.usersList .userCard {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    padding: 8px;
    justify-content: start;
    border-radius: 16px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.usersList .userCard:hover {
    background-color: #5c5b69;
    transition: background-color 0.3s;
}

.usersList .userCard .userAvatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #EEF1F3;
    border-radius: 100%;
}

.usersList .userCard .userName{
    font-weight: 500;
    font-size: clamp(0.6rem, 2vh, 0.75rem);
    line-height: 1.5;
    color: #8BA2AD;
}

.usersList .userCard .userFollowersCount{
    font-weight: 400;
    font-size: clamp(0.6rem, 2vh, 0.75rem);
    line-height: 1.5;
    color: #8BA2AD;
}

.usersList .userCard .userAvatar p {
    color: #000;
}