.userProfileContentBox {
    width: 100%;
    height: 100%;
    gap: 16px;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow-y: auto;
}

.userProfileContentBox::-webkit-scrollbar {
  width: 4px;               /* ширина scrollbar */
}

.userProfileContentBox::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}

.userProfileContentBox::-webkit-scrollbar-thumb {
  background-color: #115BCA;    /* цвет плашки */
  border-radius: 20px;
}

.mainContainer .userInfoBox {
    width: auto;
    padding: 16px;
    gap: 16px;
    border-radius: 32px;
    background-color: #181C1F;
}

.mainContainer .userInfoBox .userAvatar {
    width: 256px;
    height: 256px;
    border-radius: 16px;
    border-radius: 100%;
    background-color: #EEF1F3;
}

.mainContainer .userInfoBox .userAvatar p {
    font-size: 4rem;
    line-height: 1.2;
    color: #000;
}

.userAvatar p {
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
}

.mainContainer .userInfoBox .fullNameBox, .mainContainer .userInfoBox .userNameBox {
    justify-content: start;
    gap: 8px;
}

.mainContainer .userInfoBox .fullNameBox p {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: #EEF1F3;
}

.mainContainer .userInfoBox .circlce {
    width: 4px;
    height: 4px;
    background-color: #818181;
    border-radius: 100%;
}

.mainContainer .userInfoBox .userNameBox p {
    white-space: nowrap;
    font-size: 1rem;
    line-height: 1.3;
    font-weight: 400;
    color: #818181;
}

.mainContainer .userInfoBox button {
    gap: 8px;
    padding: 16px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #818181;
}

.mainContainer .userInfoBox button img {
    width: 24px;
    height: 24px;
}

.mainContainer .userInfoBox .secondInfoBox {
    gap: 8px;
}

.mainContainer .userInfoBox .secondInfoBox .emailBox, 
.mainContainer .userInfoBox .secondInfoBox .joinDateBox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    line-height: 1.5;
    color: #EEF1F3;
}

.mainContainer .userInfoBox .secondInfoBox .emailBox img, 
.mainContainer .userInfoBox .secondInfoBox .joinDateBox img {
    width: 24px;
    height: 24px;
}

.postsListBox {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    padding: 16px;
    gap: 32px;
}

.postsListBox .boxName {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    color: #EEF1F3;
}

.postsListBox .postList {
    gap: 8px;
}

.postTitle {
    font-size: 1.5rem;
    line-height: 1.3;
    color: #EEF1F3;
    font-weight: 500;
}

.goToPostButton {
    background-color: #115BCA;
    transition: background-color 0.3s;
}

.goToPostButton:hover {
    transition: background-color 0.3s;
    background-color: #6595dd;
}

.noPostsMessage, .noCommentsText {
    font-size: 1.5rem;
    color: #818181;
    line-height: 1.3;
    font-weight: 500;
}

.editProfileButton {
    background-color: transparent;
    border: 2px #2A3236 solid;
    transition: background-color 0.3s;
}

.editProfileButton:hover {
    transition: background-color 0.3s;
    background-color: #2A3236;
}
