.mainContainer {
    gap: 16px;
}

.topUserProfileInfoBox {
    width: 1064px;
    height: 100%;
    gap: 16px;
    display: flex;
    align-items: start;
    overflow-y: auto;
}

.userProfileContentBox {
    width: 100%;
    gap: 16px;
    align-items: start;
    justify-content: start;
    padding-bottom: 16px;
    border-bottom: 1px #F46262 solid;
}

.mainContainer .userInfoBox {
    width: auto;
    padding-left: 18px;
    gap: 16px;
}

.mainContainer .userInfoBox .userAvatar {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: #EEF1F3;
}

.userAvatar p {
    font-size: clamp(0.8rem, 2vh, 1rem);
    line-height: 1.5;
    color: #000;
}

.fullName {
    font-size: clamp(1rem, 2vh, 1.125rem);
    line-height: 1.3;
    font-weight: 500;
    color: #F2F2F2;
}

.userName {
    white-space: nowrap;
    font-size: clamp(0.6rem, 2vh, 0.875rem);
    line-height: 1.5;
    font-weight: 400;
    color: #8BA2AD;
}

.navigationBox {
    gap: 16px;
}

.navigationBox button {
    padding: 2px 16px;
    font-size: clamp(0.6rem, 2vh, 0.875rem);
    color: #F2F2F2;
    background-color: transparent;
}

#active {
    background-color: #F46262;
}

.mainContainer .userInfoBox button {
    gap: 8px;
    padding: 16px;
    font-size: clamp(0.8rem, 2vh, 1rem);
    font-weight: 500;
    line-height: 1.5;
    color: #818181;
}

.mainContainer .userInfoBox button img {
    width: 24px;
    height: 24px;
}

.mainContainer .userInfoBox .secondInfoBox {
    gap: 8px;
}

.mainContainer .userInfoBox .secondInfoBox .emailBox, 
.mainContainer .userInfoBox .secondInfoBox .joinDateBox {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    font-size: clamp(0.8rem, 2vh, 1rem);
    line-height: 1.5;
    color: #EEF1F3;
}

.mainContainer .userInfoBox .secondInfoBox .emailBox img, 
.mainContainer .userInfoBox .secondInfoBox .joinDateBox img {
    width: 24px;
    height: 24px;
}

.postsListBox, .commentsListBox {
    width: 100%;
    padding: 0px;
    gap: 32px;
    overflow-y: scroll;
}

.commentsListBox {
    border-radius: none;
}

.postsListBox::-webkit-scrollbar,
.commentsListBox::-webkit-scrollbar {
  width: 4px;               /* ширина scrollbar */
}

.postsListBox::-webkit-scrollbar-track,
.commentsListBox::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}

.postsListBox::-webkit-scrollbar-thumb,
.commentsListBox::-webkit-scrollbar-thumb {
  background-color: #F46262;    /* цвет плашки */
  border-radius: 20px;
}

.postsListBox .postList, .commentsListBox .commentsList {
    gap: 8px;
}

.postTitle {
    font-size: clamp(1rem, 2vh, 1.5rem);
    line-height: 1.3;
    color: #EEF1F3;
    font-weight: 500;
}

.goToPostButton {
    background-color: #115BCA;
    transition: background-color 0.3s;
}

.goToPostButton:hover {
    transition: background-color 0.3s;
    background-color: #6595dd;
}

.noPostsMessage, .noCommentsMessage {
    font-size: clamp(1rem, 2vh, 1.5rem);
    color: #818181;
    line-height: 1.3;
    font-weight: 500;
}

.moreUserInfoBox {
    gap: 16px;
    padding: 16px;
    border-radius: 32px;
    background-color: #393849;
}

.moreUserInfoBox .moreButton {
    background-color: transparent;
}

.moreUserInfoBox .nameText {
    font-size: clamp(0.6rem, 2vh, 0.75rem);
    color: #8BA2AD;
    line-height: 1.5;
}

.moreUserInfoBox .countText {
    font-size: clamp(0.8rem, 2vh, 1rem);
    color: #EEF1F3;
    line-height: 1.5;
}

.editProfileButton {
    font-size: clamp(0.8rem, 2vh, 1rem);
    background-color: transparent;
    border: 1px #F46262 solid;
    color: #F46262;
    padding: 8px;
    transition: background-color 0.3s;
}

.editProfileButton:hover {
    transition: background-color 0.3s;
    background-color: #bd7070;
}

.editProfileButton img {
    width: 24px;
}

.postsAndCommentsCountsBox {
    width: 100%;
}

.userButtonsBox {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.userButtonsBox .followButton {
    background-color: transparent;
    padding: 6px 16px;
    border: 1px #F46262 solid;
    color: #F46262;
    transition: background-color 0.3s;
}

.userButtonsBox .followButton:hover {
    transition: background-color 0.3s;
    background-color: #F46262;
}

.userButtonsBox .donateButton {
    transition: background-color 0.3s;
    background-color: #F46262;
    padding: 8px;
}

.userButtonsBox .donateButton:hover {
    transition: background-color 0.3s;
    background-color: #bd7070;
}

.commentCard {
    gap: 16px;
    padding: 8px;
    border-radius: 16px;
    transition: background-color 0.3s;
    background-color: transparent;
}

.commentCard:hover {
    transition: background-color 0.3s;
    background-color: #393849;
}

.commentCard .headInfoBox {
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.commentCard .headInfoBox .userAvatar {
    width: 24px;
    height: 24px;
}

.commentCard .headInfoBox .userName {
    font-weight: 500;
}

.commentCard .headInfoBox a {
    text-decoration: underline;
    color: #F46262;
}

.commentCard .headInfoBox .circle {
    border-radius: 100%;
    width: 3px;
    height: 3px;
    background-color: #8BA2AD;
}

.commentCard .commentTitle {
    padding-left: 8px;
    color: #f2f2f2;
    font-weight: 400;
    font-size: clamp(0.6rem, 2vh, 0.75rem);
    line-height: 1.5;
}

.commentCard .buttonsBox {
    display: flex;
    align-items: center;
    justify-content: start;
}

.commentCard .buttonsBox button {
    background-color: transparent;
    transition: background-color 0.3s;
}

.commentCard .buttonsBox button:hover {
    background-color: #252433;
    transition: background-color 0.3s;
}

.commentCard .buttonsBox .likesBox, 
.commentCard .buttonsBox .commentsBox {
    background-color: transparent;
    transition: background-color 0.3s;
}

.commentCard .buttonsBox .likesBox:hover, 
.commentCard .buttonsBox .commentsBox:hover {
    background-color: #252433;
    transition: background-color 0.3s;
}